@tailwind base;

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }
  #root {
    isolation: isolate;
  }
  h1 {
    @apply text-2xl font-extrabold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  h3 {
    @apply text-lg font-medium my-3;
  }
  [type='search'] {
    -webkit-appearance: none;
    -webkit-border-radius: initial;
  }
}

@tailwind components;
@tailwind utilities;
